## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mataura,NZ,-46.1927,168.8643,63.48,58,28,3.36,scattered clouds,2022-03-13 22:46:57
1,1,Avera,US,33.1940,-82.5271,55.45,36,0,4.92,clear sky,2022-03-13 22:46:58
2,2,Vaini,TO,-21.2000,-175.2000,86.16,74,40,6.91,scattered clouds,2022-03-13 22:46:58
3,3,Ilulissat,GL,69.2167,-51.1000,3.22,66,100,9.22,overcast clouds,2022-03-13 22:46:58
4,4,Ledyard,US,41.4398,-72.0142,33.28,49,20,14.97,few clouds,2022-03-13 22:46:59

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# Filter the dataset to find the cities that fit the criteria.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
2,2,Vaini,TO,-21.2000,-175.2000,86.16,74,40,6.91,scattered clouds,2022-03-13 22:46:58
7,7,Lompoc,US,34.6391,-120.4579,77.56,79,75,19.57,broken clouds,2022-03-13 22:47:00
9,9,Saint-Joseph,RE,-21.3667,55.6167,77.38,86,80,11.65,light rain,2022-03-13 22:47:00
14,14,Makakilo City,US,21.3469,-158.0858,82.72,53,0,14.97,clear sky,2022-03-13 22:44:26
15,15,Kapaa,US,22.0752,-159.3190,80.58,68,0,9.22,clear sky,2022-03-13 22:47:01
24,24,Mount Isa,AU,-20.7333,139.5000,85.77,51,17,0.00,few clouds,2022-03-13 22:47:03
26,26,Valle De Angeles,HN,14.1500,-87.0333,82.29,45,62,8.86,broken clouds,2022-03-13 22:47:04
28,28,Atuona,PF,-9.8000,-139.0333,78.91,71,89,13.40,overcast clouds,2022-03-13 22:47:04
29,29,Isangel,VU,-19.5500,169.2667,84.96,64,27,4.38,scattered clouds,2022-03-13 22:47:05
30,30,Kharan,PK,28.5833,65.4167,75.76,33,38,4.59,scattered clouds,2022-03-13 22:47:05

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.notnull().sum()

City_ID                210
City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
Date                   210
dtype: int64

In [7]:
clean_df.count()

City_ID                210
City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
Date                   210
dtype: int64

In [8]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
2,2,Vaini,TO,-21.2000,-175.2000,86.16,74,40,6.91,scattered clouds,2022-03-13 22:46:58
7,7,Lompoc,US,34.6391,-120.4579,77.56,79,75,19.57,broken clouds,2022-03-13 22:47:00
9,9,Saint-Joseph,RE,-21.3667,55.6167,77.38,86,80,11.65,light rain,2022-03-13 22:47:00
14,14,Makakilo City,US,21.3469,-158.0858,82.72,53,0,14.97,clear sky,2022-03-13 22:44:26
15,15,Kapaa,US,22.0752,-159.3190,80.58,68,0,9.22,clear sky,2022-03-13 22:47:01
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Kangaba,ML,11.9333,-8.4167,84.96,14,74,4.29,broken clouds,2022-03-13 22:49:48
685,685,Soc Trang,VN,9.6033,105.9800,78.33,88,65,10.63,broken clouds,2022-03-13 22:49:48
689,689,La Asuncion,VE,11.0333,-63.8628,76.71,81,92,14.07,overcast clouds,2022-03-13 22:49:50
690,690,Sosua,DO,19.7667,-70.5167,84.18,83,20,11.50,few clouds,2022-03-13 22:49:50
691,691,Nha Trang,VN,12.2500,109.1833,77.00,92,63,5.30,broken clouds,2022-03-13 22:47:05

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,
7,Lompoc,US,77.56,broken clouds,34.6391,-120.4579,
9,Saint-Joseph,RE,77.38,light rain,-21.3667,55.6167,
14,Makakilo City,US,82.72,clear sky,21.3469,-158.0858,
15,Kapaa,US,80.58,clear sky,22.0752,-159.3190,
24,Mount Isa,AU,85.77,few clouds,-20.7333,139.5000,
26,Valle De Angeles,HN,82.29,broken clouds,14.1500,-87.0333,
28,Atuona,PF,78.91,overcast clouds,-9.8000,-139.0333,
29,Isangel,VU,84.96,scattered clouds,-19.5500,169.2667,
30,Kharan,PK,75.76,scattered clouds,28.5833,65.4167,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Nukuhetulu
7,Lompoc,US,77.56,broken clouds,34.6391,-120.4579,Lompoc
9,Saint-Joseph,RE,77.38,light rain,-21.3667,55.6167,Saint Joseph
14,Makakilo City,US,82.72,clear sky,21.3469,-158.0858,Kapolei
15,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Kapaʻa

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))